# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.D
**/dependencies
libtecla/man
libtecla/Makefile
libtecla/config.log
libtecla/config.status
